body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #1B1B1E;
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  margin-right: 20px;
  text-decoration: none;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

/*Header*/
header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(151, 157, 215, 0.6);
  z-index: 50;
}

.main-header-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: auto 0;
}

.logo {
  display: flex;
  align-items: center;
  z-index: 4;
}

.logo img {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
}

.logo p {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.site-navigation {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.site-navigation-item a {
  display: block;
  margin: 5px;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
  transition: color 0.2s linear;
}

.site-navigation-item a:hover {
  color: #FAF375;
}

/* Меню бургер */
.header-burger-menu {
  display: none;
}

/* main */
.promo {
  height: 580px;
  background:
  linear-gradient(to top, rgba(250, 243, 117, 0.2), rgba(250, 243, 117, 0.2)),
  url('https://raw.githubusercontent.com/tim-gavrilov/operenie/main/images/img-background.jpg') 50% 14%/cover no-repeat;
}

/* promo */
.promo-wrapper {
  height: 580px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.promo-image {
  max-width: 100%;
  max-height: 100%;
  margin: 110px 10px 0 10px;
}

.promo-image img {
  max-width: 100%;
  max-height: 100%;
  padding: 0;
  object-fit: contain;
}

.promo-wrapper p {
  max-width: 650px;
  margin: 5px 20px 20px 20px;
  text-align: center;
  font-size: 20px;
  font-weight: 700;
}

.promo-wrapper span {
  background-color: #FAF375;
}

/* history */
.history h2 {
  font-size: 60px;
  text-transform: uppercase;
  margin: 20px 20px 0 20px;
  position: relative;
}

.history h2::before {
  content: "";
  width: 60px;
  height: 8px;
  background-color: #979DD7;
  position: absolute;
  top: -10px;
  left: 4px;
}

.history p {
  font-size: 20px;
  margin: 15px 20px 0 20px;
}

/* slider-block */
.slider-wrapper {
  margin-top: 30px;
}

.slider-item img {
  max-width: 500px;
  max-height: 320px;
  object-fit: cover;
  margin: 0 5px;
}

/* Слайдер */
.slick-list {
  overflow: hidden;
}
/* Лента слайдов */
.slick-track{
  display: flex;
}

.slick-active {
  outline: none;
}

.slider-list {
  position: relative;
}

.slider-list .slick-arrow{
  position: absolute;
  top: 50%;
  margin: -40px 0 0 0;
  z-index: 10;
  outline: none;
  border: none;
  font-size: 0;
  width: 50px;
  height: 50px;
}

.slider-list .slick-arrow:active {
  border: none;
}

.slider-list .slick-arrow.slick-prev {
  left: 0;
  background: url('../images/left-arrow-line-symbol_icon-icons.com_73231.png') 0 0 / 100% no-repeat;

}

.slider-list .slick-arrow.slick-next {
  right: 0;
  background: url('../images/left-arrow-line-symbol_icon-icons.com_73231.png') 0 0 / 100% no-repeat;
  transform: rotate(180deg);
}

/* disciplines */
.disciplines {
  background-color: #979DD7;
  margin-top: -4px;
  padding-bottom: 20px;
}

.disciplines h2 {
  font-size: 60px;
  text-transform: uppercase;
  margin: 0px 20px 0 20px;
  padding: 40px 0 0 0;
  position: relative;
}

.disciplines h2::before {
  content: "";
  width: 60px;
  height: 8px;
  background-color: #FAF375;
  position: absolute;
  top: 30px;
  left: 4px;
}

.disciplines p {
  font-size: 20px;
  margin: 15px 20px 0 20px;
}

.disciplines .disciplines-item {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 20px 40px;
}

.disciplines-item li {
  margin: 20px 5px;
  color: #fff;
  text-transform: uppercase;
  font-weight: 700;
  font-size: 16px;
  position: relative;
}

.disciplines-item li:before {
  content: "";
  width: 40px;
  height: 5px;
  background-color: #FAF375;
  position: absolute;
  top: -8px;
  left: 0px;
}

 .disciplines .bottom {
  display: block;
  width: 170px;
  height: 35px;
  background-color: #FDF733;
  margin: 0 auto;
  padding: 8px 0;
  text-align: center;
  font-size: 15px;
  font-weight: 700;
  color: black;
}

.disciplines .bottom:hover {
  background-color: #4E5AC3;
  color: #FDF733;
}

/* founders */
.founders {
  background-color: #DADADA;
  padding-bottom: 20px;
}

.founders h2 {
  font-size: 60px;
  text-transform: uppercase;
  margin: 0px 20px 0 20px;
  padding: 40px 0 0 0;
  position: relative;
}

.founders h2::before {
  content: "";
  width: 60px;
  height: 8px;
  background-color: #979DD7;
  position: absolute;
  top: 30px;
  left: 4px;
}

.founders p {
  font-size: 20px;
  margin: 15px 20px 0 20px;
}

/* gallery */

.gallery .gallery-wrapper {
  display: grid;
  grid-template-areas:
  "gallery-item-1 gallery-item-2 gallery-item-3 gallery-item-4";
}

.gallery .gallery-wrapper div {
  margin-bottom: -5px;
  z-index: 20;
}

.gallery .gallery-wrapper img {
  max-width: 100%;
  transition: 0.5s;
}

.gallery .gallery-wrapper img:hover {
  filter: brightness(0.5);
}

/* facts */

.facts h2 {
  font-size: 50px;
  text-transform: uppercase;
  margin: 0px 20px 0 20px;
  padding: 40px 0 0 0;
  position: relative;
}

.facts h2::before {
  content: "";
  width: 60px;
  height: 8px;
  background-color: #979DD7;
  position: absolute;
  top: 30px;
  left: 4px;
}

.facts-blok-1,
.facts-blok-2 {
  margin-top: 20px;
}

.facts-blok-1 li {
  margin: 25px 0;
}

.facts-blok-1 li p,
.facts-blok-2 li p {
  vertical-align: top;
  font-size: 16px;
}

.facts .facts-blok-1,
.facts .facts-blok-2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.facts .facts-foto-1,
.facts .facts-foto-2 {
  max-width: 100%;
  max-height: 100%;
  object-fit: cover;
  object-position: center;
}

.facts .ok {
  float: left;
  margin-right: 5px;
  max-width: 100%;
}

.facts-blok-2 ul {
list-style: inside;
margin-left: 20px;
}

.facts-blok-2 p {
  font-size: 20px;
}

.facts-blok-2 li {
  margin: 10px 0;
  font-size: 16px;
}

.facts .bottom {
 display: block;
 width: 170px;
 height: 35px;
 background-color: #FDF733;
 margin: 20px auto;
 padding: 8px 0;
 text-align: center;
 font-size: 15px;
 font-weight: 700;
 color: black;
}

.facts .bottom:hover {
 background-color: #4E5AC3;
 color: #FDF733;
}

/* evidence */
.evidence {
  height: 480px;
  background:
  linear-gradient(to top, rgba(114, 127, 242, 0.6), rgba(114, 127, 242, 0.6)),
  url('https://raw.githubusercontent.com/tim-gavrilov/operenie/main/images/evidence.jpg') 50% 30%/cover no-repeat;
}

.evidence h2 {
  font-size: 50px;
  text-transform: uppercase;
  margin: 0px 20px 0 20px;
  padding: 100px 0 0 0;
  position: relative;
  color: #FAF375;
}

.evidence h2::before {
  content: "";
  width: 60px;
  height: 8px;
  background-color: #fff;
  position: absolute;
  top: 85px;
  left: 4px;
}

.evidence .evidence-list {
  display: grid;
  grid-template-areas:
  "evidence-item-grid-1 evidence-item-grid-2 evidence-item-grid-3 evidence-item-grid-4";
  margin: 40px 0;
}

.evidence .evidence-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.evidence .evidence-list dt {
  margin-bottom: 10px;
  font-size: 48px;
  font-weight: 700;
  color: #fff;
}

.evidence .evidence-list dd {
  font-size: 16px;
  text-align: center;
  margin: 0 5px;
}

.evidence .evidence-list span {
  letter-spacing: 4px;
  background-color: #FAF375;
}

/* events */
.events h2 {
  font-size: 60px;
  text-transform: uppercase;
  margin: 40px 20px 0 20px;
  position: relative;
}

.events h2::before {
  content: "";
  width: 60px;
  height: 8px;
  background-color: #979DD7;
  position: absolute;
  top: -10px;
  left: 4px;
}

.events .mowgli {
  margin: 20px 0;
  width: 300px;
  height: 300px;
  border-radius: 300px;
  background:
  linear-gradient(to top, rgba(114, 127, 242, 0.5), rgba(114, 127, 242, 0.5)),
  url('https://raw.githubusercontent.com/tim-gavrilov/operenie/main/images/mowgli-background.jpg') 50% 30%/cover no-repeat;
}

.events .mowgli:hover {
    box-shadow: 0 0 10px;
}

.events .mowgli .mowgli-wrapper {
  padding: 30px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 300px;
  height: 300px;
}

.events .mowgli p {
  margin: 0;
  padding: 0;
  font-size: 30px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
}

.events .mowgli .charitable-project {
  display: none;
  font-size: 15px;
  font-weight: 700;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  margin: 0;
  padding: 0;
  position: relative;
}

.events .mowgli .charitable-project::after {
  position: absolute;
  content: "";
  width: 180px;
  height: 2px;
  background-color: #fff;
  bottom: -4px;
  left: 0;
}

.events .bottom {
 display: none;
 width: 170px;
 height: 35px;
 background-color: #FDF733;
 margin: 0 auto;
 padding: 8px 0;
 text-align: center;
 font-size: 15px;
 font-weight: 700;
 text-transform: uppercase;
 color: black;
}

.events .bottom:hover {
 background-color: #4E5AC3;
 color: #FDF733;
}

/* contacts */
.contacts h2 {
  font-size: 60px;
  text-transform: uppercase;
  margin: 60px 20px 0 20px;
  position: relative;
}

.contacts h2::before {
  content: "";
  width: 60px;
  height: 8px;
  background-color: #979DD7;
  position: absolute;
  top: -10px;
  left: 4px;
}

.contacts dl {
  font-size: 20px;
  margin-left: 20px;
}

.contacts .address {
  text-decoration: none;
}

.contacts dt {
  font-weight: 700;
}

.contacts dd {
  margin: 0;
  margin-bottom: 20px;
}

/* main-footer */

.main-footer {
  height: 80px;
  background-color: #2F2E2E;
}

.main-footer .main-footer-wrapper {
  display: flex;
  justify-content: space-between;
  color: #fff;
}

.footer-right {
  display: flex;
  align-items: center;
}

.main-footer a {
  color: #fff;
}

.main-footer img {
  float: right;
}

@media (max-width:767px) {
  body.lock {
    overflow: hidden;
  }
  header {
    position: fixed;
  }
  .header-burger-menu {
   display: block;
   position: relative;
   width: 30px;
   height: 20px;
   z-index: 3;
}

.site-navigation-item a {
  font-size: 20px;
}

.header-burger-menu span {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  left: -10px;
  top: 9px;
}

.header-burger-menu::before,
.header-burger-menu::after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: -10px;
}

.header-burger-menu::before {
  top: 0;
}

.header-burger-menu::after {
  bottom: 0;
}

.header-burger-menu.active::before {
  transform:rotate(45deg);
  top: 9px;
}

.header-burger-menu.active::after {
  transform:rotate(-45deg);
  bottom: 9px;
}

.header-burger-menu.active span {
  transform:scale(0);
}

.site-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: all 0.3s ease 0s;
  background-color: rgb(151, 157, 215)
}

.site-navigation.active {
  top: 0;
}

.site-navigation li {
  margin: 5px;
}

/* history */

.history h2 {
  font-size: 45px;
}

.history p {
  font-size: 17px;
}

/* disciplines */

.disciplines h2 {
  font-size: 45px;
}

.disciplines p {
  font-size: 17px;
}

/* founders */

.founders h2 {
  font-size: 45px;
}

.founders p {
  font-size: 17px;
}

/* gallery */

.gallery .gallery-wrapper {
  grid-template-areas:
  "gallery-item-1 gallery-item-2"
  "gallery-item-3 gallery-item-4";
}

/* facts */
.facts .facts-blok-1,
.facts .facts-blok-2 {
  flex-direction: column;
}

.facts .facts-blok-1 ul,
.facts .facts-blok-2 p,
.facts .facts-blok-2 ul {
  margin: 0 25px;
}

/* evidence */
.evidence h2 {
  font-size: 40px;
  padding: 45px 0 0 0;
}

.evidence h2::before {
  top: 30px;
}

.evidence .evidence-list {
  grid-template-areas:
  "evidence-item-grid-1 evidence-item-grid-2"
  "evidence-item-grid-3 evidence-item-grid-4";
}

/* events */
.events h2 {
  font-size: 45px;
}

/* contacts */
.contacts h2 {
  font-size: 45px;
}

.contacts dl {
  font-size: 19px;
}

} /* конец медиа запроса */

@media (max-width:425px) {

  header,
  .main-header-nav-wrapper {
    height: 70px;
  }

  .logo p {
    font-size: 13px;
    font-weight: 700;
  }

  .logo img {
    max-width: 80px;
  }

  /* promo */
    .promo-image {
      height: 300px;
      margin: 80px 10px 0 10px;
    }

    .promo,
    .promo-wrapper {
      height: 480px;
    }

    .promo-wrapper p {
      font-size: 18px;
    }

    /* history */

    .history h2 {
      font-size: 35px;
    }

    .history p {
      font-size: 15px;
    }

    .history h2::before {
      width: 50px;
      height: 5px;
      left: 1px;
  }

  /* slider-block */
 .slider-item img {
   max-height: 280px;
 }

 .slider-list .slick-arrow{
   width: 44px;
   height: 44px;
   margin: -24px 0 0 0;
 }

/* disciplines */
  .disciplines h2 {
    font-size: 35px;
  }

  .disciplines p {
    font-size: 15px;
  }

  .disciplines h2::before {
    width: 50px;
    height: 5px;
    left: 1px;
}

/* founders */
  .founders h2 {
    font-size: 35px;
  }

  .founders p {
    font-size: 15px;
  }

  .founders h2::before {
    width: 50px;
    height: 5px;
    left: 1px;
}

/* facts */
  .facts h2 {
    font-size: 35px;
  }

  .facts p {
    font-size: 15px;
  }

  .facts h2::before {
    width: 50px;
    height: 5px;
    left: 1px;
}

/* evidence */
.evidence h2 {
  font-size: 30px;
  /* padding: 45px 0 0 0; */
}

.evidence h2::before {
  top: 30px;
}

.evidence .evidence-list {
  margin: 10px 0;
}

.evidence .evidence-list dt {
  margin-bottom: 10px;
  font-size: 35px;
  font-weight: 700;
}

.evidence .evidence-list dd {
  font-size: 13px;
  margin: 0 5px;
}

/* events */
.events .mowgli {
  margin: 20px auto;
}

.contacts dl {
  font-size: 18px;
}

.contacts li {
  margin-bottom: 5px;
}

/* .main-footer */
.main-footer {
  height: 120px;
  font-size: 15px;
}

.main-footer .main-footer-wrapper {
  flex-direction: column;
  align-items: center;
}
}

@media (max-width:375px) {

  /* promo */
    .promo-image {
      height: 270px;
    }

    /* history */

    .history h2 {
      font-size: 25px;
    }

    /* slider-block */
    .slider-item img {
      max-height: 250px;
    }

    .slider-list .slick-arrow{
      width: 40px;
      height: 40px;
      margin: -20px 0 0 0;
    }

    /* disciplines */

    .disciplines h2 {
      font-size: 25px;
    }

    /* founders */

    .founders h2 {
      font-size: 25px;
    }

    /* evidence */

    .evidence h2 {
      font-size: 25px;
      /* padding: 45px 0 0 0; */
    }

    .evidence h2::before {
      top: 30px;
    }

    .evidence .evidence-list {
      grid-template-areas:
      "evidence-item-grid-1"
      "evidence-item-grid-2" "evidence-item-grid-3"
      "evidence-item-grid-4";
    }

    .evidence .evidence-list {
      margin: 10px 0;
    }

    .evidence .evidence-list dt {
      margin-bottom: 10px;
      font-size: 30px;
    }

    .evidence .evidence-list dd {
      font-size: 12px;
      margin: 0 5px;
    }

    /* events */
    .events h2 {
      font-size: 30px;
    }

    /* contacts */
    .contacts h2 {
      font-size: 30px;
    }
  }

@media (max-width:320px) {

  /* promo */
  .promo,
  .promo-wrapper {
    height: 400px;
  }

  .promo-image {
    height: 220px;
  }

  .promo-wrapper p {
    font-size: 15px;
  }

  /* slider-block */
  .slider-item img {
    max-height: 250px;
  }

  .slider-list .slick-arrow{
    width: 40px;
    height: 40px;
    margin: -20px 0 0 0;
  }

 /* evidence */
  .evidence {
    height: 500px;
  }
}
