body {
  margin: 0;
  padding: 0;
  font-family: 'Raleway', sans-serif;
  font-size: 15px;
  color: #1B1B1E;
}

*,
::before,
::after {
  box-sizing: border-box;
}

h1, h2, h3 {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

.visually-hidden {
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

.container {
  max-width: 980px;
  margin: 0 auto;
}

@media (max-width:979px) {
  max-width: 750px;
}

@media (max-width:767px) {
  max-width: none;
}

/*Header*/
header {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(151, 157, 215, 0.6);
  z-index: 50;
}

.main-header-nav-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
  z-index: 4;
}

.logo img {
  object-fit: cover;
}

.logo p {
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  letter-spacing: 3px;
  text-transform: uppercase;
}

ul {
  width: 60%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.site-navigation-item a {
  display: block;
  margin: 5px;
  text-transform: uppercase;
  color: #fff;
  font-size: 13px;
}
/* Меню бургер */
.header-burger-menu {
  display: none;
}

@media (max-width:767px) {
  body.lock {
    overflow: hidden;
  }
  header {
    position: fixed;
  }
  .header-burger-menu {
   display: block;
   position: relative;
   width: 30px;
   height: 20px;
   z-index: 3;
}

.header-burger-menu span {
  position: absolute;
  background-color: #fff;
  width: 100%;
  height: 2px;
  left: -10px;
  top: 9px;
}

.header-burger-menu::before,
.header-burger-menu::after {
  content: '';
  background-color: #fff;
  position: absolute;
  width: 100%;
  height: 2px;
  left: -10px;
}

.header-burger-menu::before {
  top: 0;
}

.header-burger-menu::after {
  bottom: 0;
}

.header-burger-menu.active::before {
  transform:rotate(45deg);
  top: 9px;
}

.header-burger-menu.active::after {
  transform:rotate(-45deg);
  bottom: 9px;
}

.header-burger-menu.active span {
  transform:scale(0);
}

.site-navigation {
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: fixed;
  top: -100%;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transition: all 0.3s ease 0s;
  background-color: rgb(151, 157, 215)
}

.site-navigation.active {
  top: 0;
}

.site-navigation li {
  margin: 5px;
}

}

/*main*/
.promo {
  height: 580px;
  background:
  linear-gradient(to top, rgba(250, 243, 117, 0.2), rgba(250, 243, 117, 0.2)),
  url('https://raw.githubusercontent.com/tim-gavrilov/operenie/main/images/img-background.png') 0 14%/cover no-repeat;
}
